
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    text-align: center;
}

#header {
    display: flex;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    
    position: fixed;
    z-index: 999;
    background: #ddd;

    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    
}

#header-img {
    height: 32px;
    width: auto;
    
    flex: 1 2 auto;
}

#nav-bar {
    display: flex;
    flex-wrap: nowrap;
    flex: 2 1 auto;
    flex-direction: row;
    justify-content: flex-end;
    
    margin-right: 20px;
}

.nav-link {
    color: black;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    
    margin: auto 16px auto 16px;
}

.nav-link:link {
    text-decoration: none;
}

#form {
    text-align: center;
}

#email {
    background-color: #FFFFF;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    padding: 4px;
    width: 220px;
    font-size: 16px;
}

#email: invalid{
    border: 2px solid red;
    color: #D55C5F;
    box-shadow: none;
}

#submit {
    margin-top: 20px;
    width: 80px;
    height: 32px;
    
    font-size: 16px;
    font-weight: bold;
    
    color: #fff;
    background-color: #5995da;
    border: 1px solid #5995da;
    border-radius: 8px;
    
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: #76aeed;
}

#submit:active {
    background-color: #407fc7;
}


#feature {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

.feature-item {
    display: flex;
    max-width: 800px;
    margin: 20px 0;
    
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
/*    justify-content: flex-start;*/
}

.feature-text-item {
    text-align: left;
    margin-left: 40px;
}

.feature-text-item-title {
    
    font-size: 26px;
    font-weight: bold;
    
    margin: 0;
}

.feature-text-item-p {
    margin-top: 0;
}

.item-image {
    width: 60px;
    height: 60px;
    
    border-radius: 4px;
}

/*#video-div{*/
/*    text-align*/
/*}*/

#product-video {
    width= 600;
    height= 450;
    align: center;
}

#price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    margin-top: 20px;
}

.price_item {
    align-self: flex-start;
    
    margin: 20px 10px;
    width: 280px;
    
    
    border: 1px solid #ccc;
    border-radius: 5px;
}

.price_item p[class="price_title"] {
    margin: 0;
    padding-top: 14px;
    height: 44px;
    
    background: #bbb;
    color: #444;
    font-size: 18px;
    font-weight: bold;
}

.price_item p[class="price"] {
    font-size: 16px;
    font-weight: bold;
}

.select_button {
    margin-top: 20px;
    margin-bottom: 25px;
}


.select_button {
    margin-top: 20px;
    width: 92px;
    height: 32px;
    
    font-size: 16px;
    font-weight: bold;
    
    color: #fff;
    background-color: #5995da;
    
    border: 1px solid #5995da;
    border-radius: 8px;
    cursor: pointer;
}

.select_button:hover {
    background-color: #76aeed;
}

.select_button:active {
    background-color: #407fc7;
}

@media only screen and (max-width: 720px){
    #price {
        flex-direction: column;
        justify-content: flex-end;
    }
    .price_item {
        margin: auto;
    }

    .item-image {
        display: none;
        align-items: center;
    }
}
